# Assignment 3: SQL and Pandas

## Overview

Like Assignment 2, we will be using the Chinook database, this time focusing more on the sales side of the music store.

### Question 0

Set up your connection and cursor for `sqlite3`.

### Question 1

Using `pandas`' built-in function `read_sql_query(query, connection)`, query the entire Customer and Invoice tables, merging by CustomerId.

### Question 2

Using sqldf, query a new DataFrame containing only the CustomerId, FirstName, LastName, InvoiceDate, and Total. **Drop any invoices before 2010**. Remember, when using an existing pandas DataFrame, you're query FROM the variable name, not the tables from previously.

## Question 3

We now have a simplified list of invoices containing only name, id, date, and total. Let's figure out how much every has spent since 2010! Recall that pandas has the `groupby()` function (documentation [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)). Using this, make a new DataFrame grouping by the CustomerId, giving the total/sum for each.

### Question 4

Turns out, the pandas `groupby()` statement has an equivalent in SQL! Putting 

`GROUP BY <Table Name>.<Column Name>`

at the end of a query plus the keyword `SUM()` around the column you're grouping by creates a very similar table to the one we made in pandas!

Use what we've learned to query a table with FirstName, LastName, and SUM(Total). Do the results match what we did in pandas?