# Assignment 2: Introduction to SQL

## Overview

The bread and butter of utilizing SQL is writing queries. In this assignment, we will be using the Chinook database, which is data containing data from a music store. More information can be found [here](https://github.com/lerocha/chinook-database).

### Question 0

Load in any necessary python modules, then connect to the `chinook.sqlite` database file.

Next, run this code cell to output every table name and corresponding column name in the database to confirm that the imports are functioning correctly.

In [28]:
def output_tables_and_labels():
    # This function pulls the table names from sqlite, then outputs 
    # the column name for each, removing all unecessary information
    
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_names = pd.DataFrame(cursor.fetchall())
    for i in table_names[0]:
        print(i)
        cursor.execute("PRAGMA table_info("+str(i)+")")
        print(list(pd.DataFrame(cursor.fetchall())[1]))

output_tables_and_labels()

Album
['AlbumId', 'Title', 'ArtistId']
Artist
['ArtistId', 'Name']
Customer
['CustomerId', 'FirstName', 'LastName', 'Company', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email', 'SupportRepId']
Employee
['EmployeeId', 'LastName', 'FirstName', 'Title', 'ReportsTo', 'BirthDate', 'HireDate', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email']
Genre
['GenreId', 'Name']
Invoice
['InvoiceId', 'CustomerId', 'InvoiceDate', 'BillingAddress', 'BillingCity', 'BillingState', 'BillingCountry', 'BillingPostalCode', 'Total']
InvoiceLine
['InvoiceLineId', 'InvoiceId', 'TrackId', 'UnitPrice', 'Quantity']
MediaType
['MediaTypeId', 'Name']
Playlist
['PlaylistId', 'Name']
PlaylistTrack
['PlaylistId', 'TrackId']
Track
['TrackId', 'Name', 'AlbumId', 'MediaTypeId', 'GenreId', 'Composer', 'Milliseconds', 'Bytes', 'UnitPrice']

### Question 1

Print out all columns of the "Track" table.

### Question 2

Print out all of the "short" songs from the "Track" table - tracks under 180000 milliseconds (or 3 minutes). Only print the Name and Milliseconds colunms.

### Question 3

Using the Album and Artist tables, print out the columns for an album and its artist's name. 

**HINT**: What column do Album and Artist share?

### Question 4

Finally, let's make a table that contains the album name, artist name, track name, and genre name. Feel free to use the answer to question 3 as a baseline here. This is tricky, so don't be afraid to ask your mentor for help!